body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: white !important ;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}
.logo{
    text-shadow: 0 2px 5px #31708f, 0 2px 6px white;
    color: black;
}
.log{
    max-width: 950px;
    margin: 0 auto;
    position: relative;
    top: 20vh;
    text-align: center;
}
.table, td, th {
    text-align: center;
    color: black;
}
.table.tr.td{
    display: flex;

}
.mytable  > tbody > tr > td:last-of-type{
    display: flex;
    gap: 10px;
}
.mytable  > tbody > tr > td:last-of-type > a{
    flex: 1;
}
.mytable  > tbody > tr > td:nth-child(3){ 
    -webkit-text-security: disc; /* Default */ 
}
input{
    width: 100%;
    color: white !important;
}
input[type=text] {
    width: 100%;
    color: black !important;
}
input[type=number] {
    width: 100%;
    color: black !important;
}
input[type=password] {
    width: 100%;
    color: black !important;
}
.head{
    width: 100%;
    margin: 0 auto;
    border: 3px solid rgba(203, 192, 192, 0.814);
    border-radius: 5px;
    box-shadow: 0 0 18px rgba(250, 247, 247, 0.928);
    margin-top: 2%;
    height: 550px;
    background-color: #ccc;
}
.well{
    padding: 0;
    border-radius: 8px;
}
.well > div{
    color: white;
    border: 1px solid grey;
}
.b{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: black !important;
}
.h{
    padding: 20px;
    color: black;
}
.h > h2{
    padding: 20px;
    color: black !important;
}
.f{
    padding: 10px 15px;
    background-color: #f5f5f5c0;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.p{
    padding: 0px;
    border: 1px solid #31708f;
    border-radius: 5px;
    display: grid;
}
.phead{
    background-color: #31708f;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.pbody{
    padding: 15px;
    max-height: 300px;
    overflow-y: scroll;
}
.nav .navbar-nav > li > a:hover{
    color: red !important;
    background: red !important;
}